body {
    background-color:rgb(223, 222, 222);
}

.container-fluid {
    padding: 0px;
}

.navbar {
    background-color: white;
    font-size: 15px;
    padding: 0px;
}
.container-fluid .navbar-brand {
    color: white;
    background-color: #00a28e;
    width:100px;
    padding: 10px;
    font-weight: bold;
    font-family: Georgia;
    margin-left: 15px;
}

.active, .dropdown-menu .dropdow-item:active a:hover {
    background-color: rgb(235, 235, 235);
}

.dropdown-item {
    color: black;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgb(223, 222, 222);
    color: #00a28e;
}

a {
    color: #6d8092;
}

.nav-link:hover {
    border-style: solid;
    border-color: #00a28e;
}

.container-fluid .navbar-brand:hover {
    color: rgb(185, 185, 185);
}

#comparison {
    background-color: white;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 75px;
}

#details {
    background-color: white;
    padding: 15px;
    padding-bottom: 35px;
}

#summary img{
    float: left;
    width: 50%;
    height: 50%;
}

#visuals img {
    width: 100%;
    height: 100%;
}

.active, #visuals img:hover {
    font-family: Impact;
    border-style: solid;
    border-color: #00a28e;
}

.title {
    font-family: impact;
    color: #00a28e;
    padding-top: 15px;
}
p {
   font-family: calibri;
   font-size: 12px;
   color: rgb(138, 138, 138);
}

.Box {
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer {
    position: fixed bottom;
    background-color: #00a28e;
    bottom: 0%;
    width: 100%;
    height: 20px;
}

.footer p {
    color: white;
    text-align: center;
}

.table  {
    font-size: 10px;
    font-family: Calibri;
    border-top-color: white;
    padding: 0px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #00a28f7c
}

@media (max-width:640px) {

    .navbar-expand-md   {
        background-color: #00a28e;
    }

    .navbar {
        padding: inherit;
    }

    .navbar-brand {
        padding:0px
    }

    .Box {
        margin: 5px;
        padding: 0px 0px 0px;
    }

    p {
        font-size: 12px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .title {
        padding-left: 5px;
    }

    #comparison {
        margin: 0px;
    }

    #details {
        padding-left: 5px;
        padding-bottom: 40px;
    }
    
    .table  {
        font-size: 9px;
    }

    #content {
        padding: 0px;
        padding-bottom: 15px;
        margin: 15px;
    }

    #navbarNavDropdown {
        background-color: white;
    }
}
